<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/appdynamics-platform/index.html">AppDynamics Platform Monitoring for PCF </a>
      </li>
      <li>
        <a href="/appdynamics-platform/installing.html">Installing and Configuring</a>
      </li>
      <li>
        <a href="/appdynamics-platform/kpi_dashboard.html">KPI Health Rules and Dashboards</a>
      </li>
      <li>
        <a href="/appdynamics-platform/container.html">Application Container Correlation(BETA)</a>
      </li>
      <li>
        <a href="/appdynamics-platform/release-notes.html">Release Notes</a>
      </li>
      <li>
        <a href="/appdynamics-platform/faqs.html"> Troubleshooting and FAQs</a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
