---
title: Application Container Correlation  (BETA)
owner: Partners
---

<p class="note warning"><strong>WARNING:</strong>
This is a Beta release. This release supports Java and node.js applicaitons. Support for other languages will be added soon 
</p>

## <a id='overview'></a> Overview

Starting 4.7.239 version, AppDynamics Platform Monitoring tile deploys another nozzle that can collect metrics for the container along with
the diego cell metrics and correlates the metrics with the application (APM) metrics of the applications that are monitored 
using AppDynamics APM tile. 

This feature is very light weight. It deploys just one correlation agent (nozzle) to monitor all the VMs and 
containers and does not require (multiple) agents to be deployed on each diego cells.

## <a id='Pre-Requisites'></a> PreRequisites

1. This feature requires Server Visibility License 

1. AppDynamics Platform Monitoring tile v4.7.239 or higher

1. AppDynamics Extension BuildPack v4.7 or higher for non-java applications (or) Java Buildpack [BuildPack](https://github.com/cloudfoundry/java-buildpack).

## <a id='BuildPackVersions'></a> Minimum Versions of Buildpacks

As mentioned before for this beta release we are supporting Java and node.js applications and to get the 
container correlation the applications need to be pushed with buildpacks mentioned in the below table.

| Language     | BuildPacks Versions |
| ------------ | ------------ | 
| Java         | java_buildpack | 
| NodeJS       | appdbuildpack v4.7.67 or higher, nodejs_buildpack (any version) |

## <a id='workflow'></a> Workflow

1. Configure AppDynamics Platform Monitoring tile to enable container corellation. This can be done by checking in 
the `Enable Application Container Correlation` checkbox under `AppDynamics Advanced Metrics` configuration
page of the tile 

![ConfiguringContainerCorellation](./images/15ConfiguringContainer.png)

1. Repush the applications (if they are not already pushed) with version 4.7 or higher AppDynamics Extension
   BuildPack for non-java applicaitons (or) latest version of java buildpack. 

## <a id='metrics'></a> Navigating the Metrics

This feature is intended to provide machine monitoring in correlation with application monitoring. The container 
and diego cell metrics are recorded as first class metrics in the applicaiton's page.

1. To view the metrics and the details of the Diego cells the application is running on 
 - Goto <b><i>Application's page -> Servers</i></b>

 ![ServerMonitoring](./images/16Servers.png)


1. To view the metrics and the details of the containers the application is running on 
 - Goto <b><i>Application's page -> Containers</i></b>

![ContainerMonitoring'](./images/18Containers.png)


1. Additionally the Servers and the Containers running on the server can also be navigated by clicking 
top level Servers tab on the controller home page 

![TopLevelServerMonitoring'](./images/19TopLevel.png)
![TopLevelContainerMonitoring'](./images/20ServersContainer.png)

## <a id='tags'></a> Tagging

In addition to the metrics, this feature is capable of collecting and displaying tags which can provide a way 
of obtaining a filtered view. We collect wide variety of out of the box tags by default like host_ip, pcf-org,
pcf-space etc..,.  

On top of these out of the box tags, we can add additional tags by setting environment variables with 
prefix `APPD_TAG_`. Any environemnt variable of the application starting with `APPD_TAG_` will be treated as a 
tag and will be dispalyed in tags section. 

To view the tags for a container, just goto <b><i>Application's Containers Page -> Click the Container entry -> Tags section
</i></b>
![ContainerTags'](./images/21containerTags.png)


To filter the containers belonging to a specific tag, <b><i>Goto Application's Containers Page -> Click on `Filters` -> Add Criteria
-> Select the Tag Key -> Add the value to the tag. </i></b>

![ContainerTagFilter'](./images/22filterTags.png)


## <a id='Notes'></a> Notes
- The feature deploys and starts another nozzle instance along with the nozzle that collects platform metrics
- The feature consumes one server visibility per each diego cell running the monitored applications. 
- Every Server/Container metric that is exposed via nozzle is collected in this feature. However, there are 
  be some gaps in UI becuase metrics emitted by loggregator are not complete. We are working with Pivotal
  to fill in the those gaps in the UI 

