---
title: AppDynamics Platform Monitoring for Pivotal Cloud Foundry
owner: Partners
---

## <a id='overview'></a> Overview

AppDynamics Platform Monitoring for Pivotal Cloud Foundry (PCF) provides visibility into the PCF platform where your AppDynamics-monitored applications are deployed. The tile allows you to deploy a Firehose Nozzle Agent that collects various KPI metrics and
a Dashboard that automatically creates health-rules and custom dashboards associated with the metrics.


## <a id='product-snapshot'></a> Product Snapshot

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v4.5.605</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 4, 2019</td>
    </tr>
    <tr>
        <td>Pivotal Cloud Foundry Operations Manager </td>
        <td>v2.0.x, v2.1.x, v2.2.x, v2.3.x</td>
    </tr>
    <tr>
        <td>Pivotal Application Service (formerly Elastic Runtime)</td>
        <td>v2.0.x, v2.1.x, v2.2.x, v2.3.x</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Trusty</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>AppDynamics Controller Version</td>
        <td>4.5.x, 4.4.x</td>
    </tr>
</table>


<p class="warning"><strong>WARNING:</strong> This tile requires a Trusty stemcell.
   The end of life date for Ubuntu Trusty Tahr is April 2019.
   If a security vulnerability is found on this stemcell after April, it will not be fixed.</p>

### <a id="reqs"></a> Requirements

* AppDynamics Controller v4.5.x, v4.4.x
* An AppDynamics account with Go SDK Agent License
* Pivotal Cloud Foundry v2.0.x, v2.1.x, v2.2.x, v2.3.x, v2.4.x


### <a id="feedback"></a> Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf-feedback@pivotal.io).

### <a id='license'></a> License

Users interested in AppDynamics can sign up for a [free trial license](https://portal.appdynamics.com/account/signup/signupForm).
