---
title: AppDynamics Platform Monitoring for Pivotal Cloud Foundry
owner: Partners
---

## <a id='overview'></a> Overview

[AppDynamics Platform Monitoring for Pivotal Cloud Foundry (PCF)](https://network.pivotal.io/products/appdynamics-platform/)
provides visibility into the PCF platform where your AppDynamics-monitored applications are deployed.
The tile deploys a Firehose Nozzle that collects various KPI metrics and publishes them to a controller.
It also deploys a Dashboard App that automatically creates KPI health rules and custom dashboards associated
with the health rules, which can be used to monitor the health and capacity of one or more PCF foundations.

## <a id='product-snapshot'></a> Product Snapshot

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>4.7.241</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>July 27, 2019</td>
    </tr>
    <tr>
        <td>Pivotal Cloud Foundry Operations Manager </td>
        <td>v2.2, v2.3, v2.4, v2.5, v2.6</td>
    </tr>
    <tr>
        <td>Pivotal Application Service</td>
        <td>v2.2, v2.3, v2.4, v2.5, v2.6</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>AppDynamics Controller Version</td>
        <td>4.5 and 4.4</td>
    </tr>
</table>



<p class="note warning"><strong>WARNING:</strong> Starting with 4.6 version the default AppDynamics Nozzle Application Name
has been changed to **appd-nozzle-v2** and a new dashboard with name **appd-nozzle-v2-<{cf system domain}>-PCF KPI Dashboard**
will be created.
</p>


<p class="note warning"><strong>WARNING:</strong> AppDynamics Platform Monitoring for PCF v4.5.555
   and earlier require a stemcell based on Ubuntu Trusty.
   The end of life date for Ubuntu Trusty is April 2019.
   If a security vulnerability is found on this stemcell after April, it will not be fixed.</p>


### <a id="reqs"></a> Requirements

* AppDynamics Controller v4.5.x, v4.4.x
* An AppDynamics account with Go SDK Agent License
* Pivotal Cloud Foundry v2.1.x, v2.2.x, v2.3.x, v2.4.x, v2.5.x, v2.6.x


### <a id="feedback"></a> Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf-feedback@pivotal.io).

### <a id='license'></a> License

Users interested in AppDynamics can sign up for a [free trial license](https://portal.appdynamics.com/account/signup/signupForm).
