---
title: AppDynamics Platform Metrics for Pivotal Cloud Foundry
owner: Partners
---

## <a id='overview'></a> Overview

AppDynamics Platfrom Metrics for PCF provides visibility into the CloudFoundry platform where your AppDynamics-monitored applications are deployed. The tile allows you to deploy a Firehose Nozzle Agent that collects various  KPI metrics and
a Dashboard that auotmatically creates healthrules and custom dashboard assocaited with the metrics.


## <a id='product-snapshot'></a> Product Snapshot

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v4.5.460</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>September 04, 2018</td>
    </tr>
    <tr>
        <td>Pivotal Cloud Foundry Operations Manager </td>
        <td>v2.0.7 or higher, v2.1.x, and 2.2.x</td>
    </tr>
    <tr>
        <td>Pivotal Application Service (formerly Elastic Runtime)</td>
        <td>v2.0.7 or higher, v2.1.x, and v2.2.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>Appdynamics Controller Version</td>
        <td>4.5.x, 4.4.x</td>
    </tr>
</table>


### <a id="reqs"></a> Requirements

* AppDynamics Controller v4.5.x, v4.4.x
* An AppDynamics account with Go SDK Agent License
* Pivotal Cloud Foundry v2.0.7 or higher


### <a id="feedback"></a> Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf-feedback@pivotal.io).

### <a id='license'></a> License

Users interested in AppDynamics can sign up for a [free trial license](https://portal.appdynamics.com/account/signup/signupForm).
