---
title: Release Notes for AppDynamics Platform Monitoring for PCF Tile
owner: Partners
---

## <a id='45460'></a> v4.5.460

**Release Date:** Sep 11, 2018

##### Features

- First release
- AppDynamics Firehose Nozzle to collect the metrics
- AppDynamics Dashboard Application to automatically create health rules and custom dashboard.
