---
title: Release Notes for AppDynamics Platform Monitoring for Pivotal Platform
owner: Partners
---

## <a id='47273'></a> 4.7.273

**Release Date:** October 23, 2019

- Maintenance Release
- Removed GOVERSION to allow future PAS upgrades
- Improvements to nozzle websocket error handling

## <a id='47249'></a> 4.7.249

**Release Date:** August 22, 2019

- Maintenance Release
- Updated GOVERSION to 1.11 to support PAS v4.5.8+
- Dashboard improvements to address changing metric paths between PAS upgrades

<p class="note"><strong>Note:</strong>

- This tile now requires Go 1.11+ which is available in go_buildpack 1.8.27 and later. If you are using PAS v2.2.6 or lower you will have to install a more up-to-date go_buildpack manually.
- Due to dashboard changes, existing dashboards and health rules must be deleted before upgrading to this tile version.

</p>

## <a id='47241'></a> 4.7.241

**Release Date:** July 26, 2019

- Maintenance Release
- Dashboard Improvements


## <a id='47239'></a> 4.7.239

**Release Date:** July 17, 2019

- (Beta) Application - Container/Server Correlation

## <a id='47217'></a> 4.7.217

**Release Date:** July 1st, 2019

- Improvised logging
- Updated cf-cli


## <a id='46135'></a> 4.6.135

**Release Date:** June 10, 2019

- Websocket retry errors are now treated as unrecoverable errors


## <a id='46105'></a> 4.6.105

**Release Date:** April 23, 2019

- Addresses changes to "rep" metrics deployment names introduced in PCF v2.4


## <a id='46103'></a> 4.6.103

**Release Date:** March 27, 2019

- Major release
- Includes significant performance improvements.
- AppDynamics Nozzle can now be scaled to any number of instances.
- Multi-Foundation Dashboard support.
- Advanced metric collection support to collect custom metrics that are not in the standard KPI list.
- Starting with 4.6 version the default AppDynamics Nozzle Application Name has been changed to **appd-nozzle-v2** and a new dashboard with name **appd-nozzle-v2-<{cf system domain}>-PCF KPI Dashboard**
will be created.

## <a id='45605'></a> 4.5.605

**Release Date:** February 4, 2019

- Maintenance release
- Updated tile to use Xenial stemcell

## <a id='45555'></a> v4.5.555

**Release Date:** December 6, 2018

- Maintenance release
- Changes the layout of the Dashboard UI

## <a id='45522'></a> v4.5.522

**Release Date:** November 7, 2018

- Maintenance release

## <a id='45480'></a> v4.5.480

**Release Date:** October 10, 2018

##### Features

- Maintenance release
- Optimized configuration

## <a id='45460'></a> v4.5.460

**Release Date:** September 11, 2018

##### Features

- First release
- AppDynamics Firehose Nozzle to collect the metrics
- AppDynamics Dashboard Application to automatically create health rules and custom dashboard.
