---
title: Release Notes for AppDynamics Platform Monitoring for PCF
owner: Partners
---

## <a id='45480'></a> v4.5.522

**Release Date:** November 7, 2018

- Maintenance release 

## <a id='45480'></a> v4.5.480

**Release Date:** October 10, 2018

##### Features

- Maintenance release 
- Optimized configuration 

## <a id='45460'></a> v4.5.460

**Release Date:** September 11, 2018

##### Features

- First release
- AppDynamics Firehose Nozzle to collect the metrics
- AppDynamics Dashboard Application to automatically create health rules and custom dashboard.
