---
title: Release Notes for AppDynamics Platform Monitoring for PCF
owner: Partners
---

## <a id='46103'></a> 4.6.103

**Release Date:** Mar 27, 2019

- Major release
- Includes significant performance improvements.
- AppDynamics Nozzle can now be scaled to any number of instances.
- Multi-Foundation Dashboard support.
- Advanced metric collection support to collect custom metrics that are not in the standard KPI list.
- Starting with 4.6 version the default AppDynamics Nozzle Application Name has been changed to **appd-nozzle-v2** and a new dashboard with name **appd-nozzle-v2-<{cf system domain}>-PCF KPI Dashboard**
will be created.

## <a id='45605'></a> 4.5.605

**Release Date:** Feb 4, 2019

- Maintenance release
- Updated tile to use Xenial stemcell

## <a id='45555'></a> v4.5.555

**Release Date:** December 6, 2018

- Maintenance release
- Changes the layout of the Dashboard UI

## <a id='45522'></a> v4.5.522

**Release Date:** November 7, 2018

- Maintenance release

## <a id='45480'></a> v4.5.480

**Release Date:** October 10, 2018

##### Features

- Maintenance release
- Optimized configuration

## <a id='45460'></a> v4.5.460

**Release Date:** September 11, 2018

##### Features

- First release
- AppDynamics Firehose Nozzle to collect the metrics
- AppDynamics Dashboard Application to automatically create health rules and custom dashboard.
