---
title: Release Notes for AppDynamics Platform Monitoring for PCF
owner: Partners
---

## <a id='4618'></a> 4.6.18

**Release Date:** Mar 6, 2019

- Maintenance release

## <a id='45605'></a> 4.5.605

**Release Date:** Feb 4, 2019

- Maintenance release
- Updated tile to use Xenial stemcell

## <a id='45555'></a> v4.5.555

**Release Date:** December 6, 2018

- Maintenance release 
- Changes the layout of the Dashboard UI

## <a id='45522'></a> v4.5.522

**Release Date:** November 7, 2018

- Maintenance release 

## <a id='45480'></a> v4.5.480

**Release Date:** October 10, 2018

##### Features

- Maintenance release 
- Optimized configuration 

## <a id='45460'></a> v4.5.460

**Release Date:** September 11, 2018

##### Features

- First release
- AppDynamics Firehose Nozzle to collect the metrics
- AppDynamics Dashboard Application to automatically create health rules and custom dashboard.
